<div class="app__services section">
  <div class="container">
    <div class="services__grid-image">
      <div class="service__image">
        <img src="images/product.jpg" alt="" srcset="" />
      </div>
      <div class="service__image">
        <img src="images/product.jpg" alt="" srcset="" />
      </div>
      <div class="service__image">
        <img src="images/product.jpg" alt="" srcset="" />
      </div>
    </div>
    <div class="service__content">
      <div class="service__content-box">
        <div class="service__icon">
          <img src="icons/free-shipping.png" alt="" srcset="" />
        </div>
        <h3>Free shipping</h3>
        <p>
          Enjoy free shipping on all orders over $100, making it easier to get
          the furniture you love.
        </p>
      </div>
      <div class="service__content-box">
        <div class="service__icon">
          <img src="icons/dollar.png" alt="" srcset="" />
        </div>
        <h3>Free shipping</h3>
        <p>
          Enjoy free shipping on all orders over $100, making it easier to get
          the furniture you love.
        </p>
      </div>
      <div class="service__content-box">
        <div class="service__icon">
          <img src="icons/gift-box.png" alt="" srcset="" />
        </div>
        <h3>Free shipping</h3>
        <p>
          Enjoy free shipping on all orders over $100, making it easier to get
          the furniture you love.
        </p>
      </div>
      <div class="service__content-box">
        <div class="service__icon">
          <img src="icons/guard.png" alt="" srcset="" />
        </div>
        <h3>Free shipping</h3>
        <p>
          Enjoy free shipping on all orders over $100, making it easier to get
          the furniture you love.
        </p>
      </div>
    </div>
  </div>
</div>
