
<div class="app__landing">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="carousel__slide slide-1">
        <div class="container">
          <div class="landing__header">
            <h1>Make Yourself at Home with Furniro</h1>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel__slide slide-2">
        <div class="container">
          <div class="landing__header">
            <h1>Explore our top furniture deals today!</h1>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel__slide slide-3">
        <div class="container">
          <div class="landing__header">
            <h1>Make Yourself at Home with Furniro</h1>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="owl__dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </owl-carousel-o>

</div>


<!-- Explore our top furniture deals today!
SHOP MORE

Make Yourself at Home with Furniro
SHOP NOW

Best Designs
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos excepturi ad ex consectetur earum corporis totam ab debitis a, similique, veniam sequi impedit, quaerat doloremque quia. Rerum, at dicta? Porro!

Show More





Explore our top furniture deals today!
SHOP MORE

Make Yourself at Home with Furniro
SHOP NOW

Best Designs
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos excepturi ad ex consectetur earum corporis totam ab debitis a, similique, veniam sequi impedit, quaerat doloremque quia. Rerum, at dicta? Porro!

Show More





Explore our top furniture deals today!
SHOP MORE -->
