<div class="product__card">
  <div class="product__img">
    <img src="images/product.jpg" alt="" srcset="" />
  </div>
  <div class="product__info">
    <h4>special chair</h4>
    <i class='bx bx-heart'></i>
    <!-- <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aut
      quidem. Tempore laborum delectus vel, corrupti a illum nam voluptas,
      quaerat enim, reprehenderit repellat facere? Architecto facilis porro ad
      exercitationem?
    </p> -->
  </div>
  <div class="product__btns">
    <button><i class='bx bx-cart' ></i> Add To Cart</button>
  </div>
</div>
