<div class="app__companies section">
    <div class="container">
        <app-section-title title="Companies"></app-section-title>
        <div class="logos">
            <div class="logos-slide">
                        <img src="images/companies/1.png" alt="">
                        <img src="images/companies/2.jpg" alt="">
                        <img src="images/companies/3.jpg" alt="">
                        <img src="images/companies/4.png" alt="">
                        <img src="images/companies/5.webp" alt="">
                        <img src="images/companies/6.webp" alt="">
                        <img src="images/companies/7.webp" alt="">
                        <img src="images/companies/8.webp" alt="">
                        <img src="images/companies/9.webp" alt="">
            </div>
            <div class="logos-slide">
                <img src="images/companies/1.png" alt="">
                        <img src="images/companies/2.jpg" alt="">
                        <img src="images/companies/3.jpg" alt="">
                        <img src="images/companies/4.png" alt="">
                        <img src="images/companies/5.webp" alt="">
                        <img src="images/companies/6.webp" alt="">
                        <img src="images/companies/7.webp" alt="">
                        <img src="images/companies/8.webp" alt="">
                        <img src="images/companies/9.webp" alt="">
        </div>
        </div>
    </div>
</div>



