.app__offers {
  background-color: #ececee;
  margin: 10px;
  border-radius: 8px;
}
.container {
  display: flex;
}
.offers__text {
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  flex-direction: column;
	background-size: 400% 400%;
  flex: 2;
}
.offers__text h3 {
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-bold);
}

.offers__text a {
  background-color: var(--secondry-color);
  padding: 15px 40px;
  color: white;
  font-weight: 2rem;
  width: fit-content;
}
.offers__image {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  flex: 2;
}
.offers__image  img{
width: 100%;
height: 100%;
}
.img__container {
  width: 100%;
  height: 100%;
}

.offers__slider {
  width: 100%;
}

::ng-deep .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
