<div class="app__offers section">
  <div class="container">
    <div class="offers__text">
      <h3>
        Get 70% OFF on all chairs! Upgrade your comfort at an unbeatable price.
      </h3>
      <app-offers-timer></app-offers-timer>
      <a href="">Shop Now</a>
    </div>
    <div class="offers__image">
      <owl-carousel-o [options]="customOptions" class="offers__slider">
        <ng-template carouselSlide>
          <div class="img__container">
            <img src="images/product.jpg" alt="" srcset="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img__container">
            <img src="images/product.jpg" alt="" srcset="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img__container">
            <img src="images/product.jpg" alt="" srcset="" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
