<div class="app__offers section">
  <div class="container">
    <div class="offers__text">
      <h3>
        Get 70% OFF on all chairs! Upgrade your comfort at an unbeatable price.
      </h3>
      <div class="offers__timer">
        <div class="offers__timer-box day">01</div>
        <span>:</span>
        <div class="offers__timer-box hours">23</div>
        <span>:</span>
        <div class="offers__timer-box minutes">56</div>
        <span>:</span>
        <div class="offers__timer-box seconds">14</div>
      </div>
      <a href="">Shop Now</a>
    </div>
    <div class="offers__image">
      <img src="images/product.jpg" alt="" srcset="">
    </div>
  </div>
</div>

