<div class="offers__timer">
  <div class="offers__timer-box day">
    <p>
      {{ discountTimer().days }}
    </p>
    <span>Days</span>
  </div>
  <span>:</span>
  <div class="offers__timer-box hours">
    <p>
      {{ discountTimer().hours }}
    </p>
    <span>Hours</span>
  </div>
  <span>:</span>
  <div class="offers__timer-box minutes">
    <p>
      {{ discountTimer().minutes }}
    </p>
    <span>Minutes</span>
  </div>
  <span>:</span>
  <div class="offers__timer-box seconds">
    <p>
      {{ discountTimer().seconds }}
    </p>
    <span>Seconds</span>
  </div>
</div>
